$primery: #B982FF;
$gradient-button-1: #18C8FF;
$gradient-button-2: #933FFE;

$gradient-green-1: #18FF9E;
$gradient-green-2: #17FFE3;

$gradient-indigo-1: #184BFF;
$gradient-indigo-2: #174AFF;

$gradient-purple-1: #00C2FF;
$gradient-purple-2: #FF29C3;

$gradient-add-1: #3DA5F5;
$gradient-add-2: #3E45EE;
$gradient-add-3: #48CDFF;
$gradient-add-4: #8470FF;
$gradient-add-5: #5b156c;

$gray-bg: #0B0B0F;
$gray-100: #212529;
$gray-80: #495057;
$gray-60: #6E7584;
$gray-50: #ADB5BD;
$gray-40: #CED4DA;
$gray-30: #E9ECEF;
$gray-20: #F1F3F5;
$gray-10: #F8F9FA;
$gray-0: #fff;
$gray-1plus: #E8E8E8;

$error: #FC3425;
$info: #00B6FF;
$warning: #F99109;
$success: #43D81E;

$font-family: "Inter", sans-serif;
