@use './../../styles/variables' as *;

.scroll {
  position: relative;
  margin-bottom: 200px;

  &__content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 127px;

    padding-inline: 134px;

    font-family: $font-family;
    color: $gray-0;
  }

  &__title {
    display: flex;
    flex-direction: column;

    &__main {
      width: 496px;
      font-weight: 900;
      font-size: 50px;
      line-height: 130%;
      z-index: 2;
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      z-index: 2;
    }
  }

  &__containers {
    display: flex;
    flex-direction: column;
    gap: 50px;

  }

  &__container {
    width: 559px;
    height: 98px;
    padding: 26px 63px;

    border-radius: 25px;
    border: 2px solid transparent;

    background: 
    linear-gradient(to left , $gray-bg, #25283A , #292E4B , transparent ),
    linear-gradient(to left , $gradient-add-5 5%, $gradient-add-5 );
    // background: radial-gradient($gradient-add-3 10%, $gradient-purple-2 55%);

    background-clip: padding-box;


    box-shadow: 0 0 6px #000;

    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      text-align: center;
    }
  }

  &__star {
    position: absolute;

    width: 50px;
    height: 50px;

    bottom: 15px;
    left: 20px;

    z-index: 2;
  }

  &__effect {
    position: absolute;

    width: 300px;
    height: 350px;

    bottom: -15px;
    left: 0;
    background: linear-gradient($gradient-indigo-2, $gradient-indigo-1);
    filter: blur(150px);

    z-index: 1;
  }
}
