@use './../../styles/variables' as *;

.nav {
  &__list {
    display: flex;
    gap: 32px;
  }

  &__link {
    color: $gray-0;
    font-size: 14px;
    font-weight: 600;
    font-family: $font-family;
  }
}