@import './../../styles/variables.scss';

.header {
  &__people {
    margin-left: 23px;

    display: flex;
  }

  &__person--1, 
  &__person--2, 
  &__person--3, 
  &__person--4, 
  &__person--5, 
  &__person--6 {
    position: relative;
  }

  @for $i from 1 through 6 {
    &__person--#{$i} {
      z-index: #{6 - $i};
    }
  }

  &__person {
    width: 25px;
    height: 40px;
    border-radius: 999px;
    transform: rotate(15deg);
  }

  &__person__effect {
    position: absolute;
    top: 1px;
    left: 3px;

    width: 25px;
    height: 40px;
    background: linear-gradient($gray-0, #606060);
    border-radius: 999px;
    transform: rotate(15deg);
    z-index: -2;
  }
}