@use './../../styles/variables' as *;

.service {
  padding-inline: 130px;
  margin-bottom: 200px;

  height: 673px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-template-rows: auto;
    justify-content: center;
    gap: 20px;
  }

  &__card {
    width: 380px;
    height: 326px;

    border-radius: 25px;
    background: 
      linear-gradient(to bottom , transparent, #292E4B 45%),
      rgba(223, 29, 255, 0.3);

    z-index: 1;
    padding: 27px 26px;

    &__main {
      font-family: $font-family;

      &__sub--title {
        width: 111px;
      }
    }
  }
}
